<div class="container">
  <div class="centreColumn">
  <header>
    <heading>Event history for <a href="{{sonarrBaseUrl}}">{{instanceName}}</a></heading>
    {{> user}}
  </header>
    <events>
      <header>
        <count>{{#unless noHistory}}Events {{start}}-{{end}} of {{total}}{{else}}No events recorded{{/unless}}</count>
        <pagesize>Show <select onChange="location.href=`{{browseUrl startEventId undefined undefined useApplicationUrl}}/${this.value}{{ascendingQuery ascending}}`;">
          {{#unless standardCount}}
            <option selected value="{{count}}">{{count}}</option>
          {{/unless}}
          {{#each countPreset}}
          <option {{ifEqual ../count this 'selected' ''}} value="{{this}}">{{this}}</option>
          {{/each}}
        </select> per page </pagesize>
        <sort>
        <select
          onChange="location.href=`{{#unless noHistory}}{{browseUrl currentPage count undefined useApplicationUrl}}{{else}}{{browseUrl 0 count undefined useApplicationUrl}}{{/unless}}?sort=${this.value}`;"
        >
          <option value="descending" {{ifEqual ascending false 'selected' ''}}>Newest First</option>
          <option value="ascending" {{ifEqual ascending true 'selected' ''}}>Oldest First</option>
        </select></sort>
      </header>
      {{> navigation}}
      {{#each events}}
        {{> event this canClickEvents=../canClickEvents count=../count ascending=../ascending useApplicationUrl=../useApplicationUrl}}
      {{/each}}
      {{> navigation}}
    </events>
  </div>
</div>
