<div class="container">
  <div class="centreColumn">
  <heading >Event history for <a href="{{sonarrBaseUrl}}">{{instanceName}}</a></heading>
    <events>
      <header>
        <count>Events {{start}}-{{end}} of {{total}}</count>
        <pagesize>Show <select onChange="location.href=`{{browseUrl startEventId undefined undefined useApplicationUrl}}/${this.value}{{ascendingQuery ascending}}`;">
          {{#unless standardCount}}
            <option selected value="{{count}}">{{count}}</option>
          {{/unless}}
          {{#each countPreset}}
          <option {{ifEqual ../count this 'selected' ''}} value="{{this}}">{{this}}</option>
          {{/each}}
        </select> per page </pagesize>
        <sort> <select onChange="location.href=`{{browseUrl currentPage count undefined useApplicationUrl}}?sort=${this.value}`;">
          <option value="descending" {{ifEqual ascending false 'selected' ''}}>Newest First</option>
          <option value="ascending" {{ifEqual ascending true 'selected' ''}}>Oldest First</option>
        </select></sort>
      </header>
      {{> navigation}}
      {{#each events}}
        {{> event this canClickEvents=../canClickEvents count=../count ascending=../ascending useApplicationUrl=../useApplicationUrl}}
      {{/each}}
      {{> navigation}}
    </events>
  </div>
</div>
