{{#each event.episodes}}
  <episode {{#unless (showBanner ../event)}}class="noseries"{{/unless}}>Grabbed {{#unless (showBanner ../event)}}{{../event/series/title}}{{/unless}} S{{this.seasonNumber}} E{{this.episodeNumber}} - {{this.title}}</episode>
{{/each}}
<release>
<entry><span class="label">Title</span>: {{event.release.releaseTitle}} ({{toHumanSize event.release.size}})</entry>
<entry><span class="label">Quality</span>: {{event.release.quality}}</entry>
</release>
