<nav class="pagination">
  <a href="{{prevUrl start count ascending}}"
  {{#if first}}
  class="hidden"
  {{/if}}
  >&laquo;</a>
  {{#each pagination }}
    {{#if this.skip}}
      <a class="skip">…</a>
    {{else}}
      <a href="{{browseUrl this.start ../count ../ascending}}" class="{{ifEqual this.active true 'active' ''}}">{{this.label}}</a>
    {{/if}}
  {{/each}}
  <a href="{{nextUrl start count ascending}}"
  {{#if last}}
  class="hidden"
  {{/if}}
  >&raquo;</a>
</nav>