<nav class="pagination">
  {{#unless noHistory}}
  <a href="{{prevUrl currentPage count ascending useApplicationUrl}}"
  {{#if first}}
  class="hidden"
  {{/if}}
  >&laquo;</a>
  {{#each pagination }}
    {{#if this.skip}}
      <a class="skip">…</a>
    {{else}}
      <a {{#unless this.active }}href="{{browseUrl this.page ../count ../ascending ../useApplicationUrl}}"{{/unless}} class="{{ifEqual this.active true 'active' ''}}">{{this.label}}</a>
    {{/if}}
  {{/each}}
  <a href="{{nextUrl currentPage count ascending useApplicationUrl}}"
  {{#if last}}
  class="hidden"
  {{/if}}
  >&raquo;</a>
  {{/unless}}
</nav>
